body{
    background-color: #F4F6F7;
}

form {
    display: flex;
    flex-direction: column;
    font-size: 60px;
    align-items: flex-start;
    width: 100%;
    padding: 1% 0% 0% 0%;
    margin-bottom: 30px;
}

.titulo-Comentario {
    font-family: Rubik;
    display: flex;
    font-size: 50%;
    width: 100%;
    padding: 0% 0% 1% 0%;
}

.campoCriar-Comentario {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.conteudo-Comentario {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.conteudo-Comentario h1 {
    font-size: 50%;
    margin: 0;
    padding: 0;
}

.conteudo-Comentario input {
    font-family: Rubik;
    font-size: 30%;
    margin: 0;
    border-radius: 8px;
    padding: 8px 70px 8px 8px;
    width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.conteudo-Comentario button {
    display: none;
    background-color: #3498db;
    border: none;
    padding: 2%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s ease;
    cursor: pointer;
}

.conteudo-Comentario button:hover{
    background-color: #1B4F72;

}

.conteudo-Comentario button img{
    display: flex;
    width: 20px;
    height: auto;
    align-self: center;

}

.conteudo-Comentario label{
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 0;
}

.conteudo-Comentario span{
    display: flex;
    position: absolute;
    z-index: 1;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 30%;
    width: 50px;
    color: #85C1E9;
}

@media(max-width: 800px) {
    .conteudo-Comentario {

    flex-direction: column;
    align-items: flex-start;
}
.conteudo-Comentario input {
    width: 300px;
}

    
}
