body{
    background-color: #F4F6F7;
}

form {
    display: flex;
    flex-direction: column;
    font-size: 60px;
    align-items: flex-start;
    width: 100%;
    padding: 1% 0% 0% 0%;
    margin-bottom: 10px;
}

.titulo-Comentario {
    font-family: Rubik;
    display: flex;
    font-size: 50%;
    width: 100%;
}

.campoCriar-Comentario {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.conteudo-Comentario {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.conteudo-Comentario h1 {
    font-size: 50%;
    margin: 0;
    padding: 0;
}

.conteudo-Comentario input {
    font-family: Rubik;
    font-size: 30%;
    margin: 0;
    border-radius: 8px;
    padding: 8px;
    width: 600px;
}

.conteudo-Comentario button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 3%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
}

.conteudo-Comentario button img{
    display: flex;
    width: 20px;
    height: auto;
    align-self: center;

}
.conteudo-Comentario span{
    font-size: 30%;
}

@media(max-width: 750px) {
    .conteudo-Comentario {

    flex-direction: column;
    align-items: flex-start;
}
.conteudo-Comentario input {
    width: 300px;
}

    
}
