body {
    display: grid;
    background-color: #1B4F72;
    justify-content: center;
    padding: 10vh 0 10vh 0;

}

.grid {
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    width: 70vh;
    height: 80vh;

}

#text_dashboard {
    display: flex;
    justify-content: center;
    width: 100%;
}

#card {
    display: flex;
    background-color: #85C1E9;
    justify-content: center;
    border: 4px solid rgb(0, 42, 156);
    border-radius: 16px;
    margin: 1vh;
    height: 8vh;
    width: 40vh;
}

#logo {
    padding-left: 5.5vh;
}