#bodyDashboard {
    display: grid;
    background-color: #1B4F72;
    justify-content: center;
    padding: 10vh 0 10vh 0;
    margin: 0;
}

#conteudoDashboard {
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: #f4f6f7;
    width: 70vh;
    height: 80vh;
    border-radius: 2.5vh;
}

#textoDashboard {
    display: flex;
    justify-content: center;
    width: 100%;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
    font-size: 4vh;
    color: #1B4F72;
}

#cardsDashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.cardDashboard {
    display: flex;
    background-color: #85C1E9;
    justify-content: center;
    align-items: center;
    border: 4px solid rgb(0, 42, 156);
    border: 0.5vh solid #1B4F72;
    border-radius: 2vh;
    margin: 1vh;
    height: 8vh;
    width: 40vh;
    color: #1B4F72;
    font-family: 'Nunito', sans-serif;
    font-size: 2vh;
    font-weight: 800;
}
 

.cardLogout {
    display: flex;
    background-color: #85C1E9;
    justify-content: center;
    align-items: center;
    border: 4px solid rgb(0, 42, 156);
    border: 0.5vh solid #1B4F72;
    border-radius: 2vh;
    margin: 1vh;
    height: 8vh;
    width: 40vh;
    color: #1B4F72;
    font-family: 'Nunito', sans-serif;
    font-size: 2vh;
    font-weight: 800;
    cursor: pointer;
}

.cardLogout:hover {
    background-color: #2386c1;;
}

#logoDashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#logoDashboard img{
    width: 60%;
}

.linkDashboard{
    text-decoration: none;
}

.linkDashboard button{
    background-color: none;


}

@media (max-width: 768px){
    #bodyDashboard{
        padding: 20vh
    }
    #conteudoDashboard{
        height:60vh ;
        width: 40vh;
    }
    #textDashboard {
        font-weight: 600;
        font-family: 'Nunito', sans-serif;
        font-size: 3vh;
        color: #1B4F72;
    }
    #cardsDasboard{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .cardDashboard {
        border: 0.5vh solid #1B4F72;
        border-radius: 1.25vh;
        margin: 0.5vh;
        height: 6vh;
        width: 25vh;
        font-size: 1.5vh;
    }

    #logoDashboard img{
        width: 50%;
    }
}