body {
    display: grid;
    background-color: rgb(68, 68, 245);
    justify-content: center;
    padding: 10vh 0 10vh 0;
}

.grid {
    display: grid;
    justify-content: center;
    background-color: aliceblue;
    width: 60vh;
    height: 80vh;
}

#text_dashboard {
    padding: 2vh 0 2vh 0;
}

#card {
    border: 2px solid black;
}