body{
    margin:0%;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}
footer{
    background-color: #1B4F72;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 50%;
    gap: 10%;
    margin-top: auto;
    width: 100%;
}
.texto{
    font-family: 'Nunito', sans-serif ;
    color: #F4F6F7;
    font-weight:600;
}

#redes{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
}

#tituloRedes .texto {
    white-space: nowrap;
}

#logos{
    gap: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#logos .logo img{
    width: 35px;
}

#desenvolvedor{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    align-items: center;
    text-align: center;  
    width: 25%;
}

#code img{
    height: auto;
    width: 140px;
}
#objetivos{
    display: flex;
    text-align: center;
    min-width: 250px;
    width: 50%;
}

#objetivos .texto {
    font-size: clamp(10px, 1.2vw, 14px);
    line-height: 2;
}

/*@media (max-width: 768px) {
    footer{
        height: 1vh;
        padding: 4vh 4vh;
        gap: 10%;
        margin-top: auto;
        width: 100%;
    }
    
    #tituloRedes .texto {
        white-space: nowrap;
    }
    
    #logos{
        gap: 10%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    #logos .logo img{
        width: 50%;
    }
    
    #code img{
        height: auto;
        width: 10vh;
    }
    #objetivos{
        display: flex;
        text-align: center;
        min-width: 125px;
        width: 100%;
    }
    
    #objetivos .texto {
        font-size: clamp(5px, 0.6vw, 7px);
    }
}*/