body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.hero-section-landingPage{
    position: relative;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    flex-direction: row;
    background-color: #1B4F72;
    width: 100%;
    height: auto;
    padding: 5% 10% 0% 10%;
    background-image: url(/public/assets/cerebro.png);
    background-size: 190vw;
    background-position: center;
    background-repeat: no-repeat;
}


.texto-hs-landingPage{
    padding: 0%;
    margin: 0%;
    display: flex;
    flex-direction: column;
}

.texto-hs-landingPage h1{
    color: #E74C3C ;
    position: relative;
    z-index: 4;
    font-family: "Nunito", sans-serif;
    font-weight: 900;
    font-size: 96px;
    margin: 0%;
    filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.2));
}

.logo-descricao-landingPage{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.logo-descricao-landingPage img{
    width: 300px;
    top: 2px;
    height: auto;
}

.balao-descricao-landingPage{
    align-items: center;
    padding: 2%;
    width: 50%;
    height: auto;
    border: 2px solid #2E86C1;
    border-radius: 20px;
    border-bottom-right-radius: 0%;
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.6));

}

.balao-descricao-landingPage p{
    color: #F4F6F7;
    margin: 0%;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 200%;
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.5));

}





.imagem-mascote-landingPage{
    position: absolute;
    top: 7vh;
    left: 60vw;
    z-index: 3;
    width: 35.4vw;
    height: 34vw;
    background-color: #F4F6F7;
    border-radius: 100%;
    padding: 0%;
    filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.2));
    align-items: center;
}

#img-user-landingPage{
  position: absolute;
    width: 35vw;
    height: auto;
    top: -1vh;
    left: -1vw;
    filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.5));
    z-index: 5;
}

#img-notas-landingPage{
    position: absolute;
    width: 10vw;
    height: auto;
    left: 20vw;
    z-index: 4;
    filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.2));
}
#img-guitarra-landingPage{
    position: absolute;
    width: 18vw;
    height: auto;
    top: -4vh;
    left: -2vw;
    filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.2));
}

#img-coracao-landingPage{
    position: absolute;
    width: 8vw;
    height: auto;
    top: 20vw;
    left: -2vw;
    transform: rotate(320deg);
    filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.2));
}

#img-bola-landingPage{
    position: absolute;
    width: 6vw;
    height: auto;
    top: 15vw;
    left: 30vw;
    filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.2));

}

#img-batata-landingPage{
    position: absolute;
    width: 6vw;
    height: auto;
    z-index: 8;
    top: 28vw;
    left: 8.5vw;
    filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.2));
}

#img-semaforo-landingPage{
    position: absolute;
    width: 6vw;
    height: auto;
    top: 28vw;
    left: 22vw;
    z-index: 8;
    transform: rotate(25deg);
    filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.2));
}


.posts-recentes-landingPage{
  display: flex;
  flex-direction: column;
  margin: 0%;
  background-color: #F4F6F7;
  width: 100%;
  height: auto;
  padding: 0% 0% 0% 0%;
}
#titulo-pr-landingPage{
  margin: 0%;
  color:#1B4F72;
  font-family: "Nunito", sans-serif;
  font-size: 300%;
  font-weight: 600;
  margin: 2% 0% 0% 2%;
  filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.2));
}

.carrossel-posts-landingPage{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 1% 0% 0% 4%;
  gap: 1%;
  filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.2));
  overflow-x:auto;
  overflow-y: hidden;
  scroll-behavior: smooth;

}

.carrossel-posts-landingPage h1{
  margin: 0%;
  color:#1B4F72;
  font-family: "Nunito", sans-serif;
  font-size: 300%;
  font-weight: 600;
  margin: 2% 0% 0% 2%;
  padding: 4% 0% 0% 3%;
  filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.2));
}

.post-landingPage{
  flex: 0 0 250px;
  min-width: 270px;
  margin-right: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #2E86C1;
  padding: 1% 1% 1% 1%;
  border-radius: 20px;
  filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.2));

}
.post-landingPage h1{
  font-family: "Nunito", sans-serif;
  color: #1A1A1A;
  font-weight: 400;
  font-size: 149%;
  filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.2));
}
.post-landingPage img{
  margin: 0% 0% 0% 0%;
  width: 200px;
  height: 200px;
  border-radius: 10%;
  object-fit: cover;
  filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.2));
}
.post-landingPage p{
  font-family: "Rubik", sans-serif;
  font-size: 110%;
  color: #1A1A1A;
  font-weight: 200;
}

.botao-ver-mais-landingPage{
  display: flex;
  justify-content: center;
  padding: 2% 1% 0% 2%;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #F4F6F7;
  background-color: #2E86C1;
  margin: 0% 0% 0% 0%;
  width: 100%;
  height: 10%;
  border: 2px solid #2E86C1;
  border-radius: 20px;

}

.botao-ver-mais-landingPage:hover{
  background-color: #1B4F72;
  border: 2px solid #1B4F72;
}


@media(min-width: 1500px){
  .hero-section-landingPage {
    padding: 5%;
    height: 120%;
  }
}

  @media (max-width: 600px) {
    .imagem-mascote-landingPage{
      display: none;
    }
    .hero-section-landingPage{
      background-size: 240vh;
    }
    .texto-hs-landingPage h1 {
      width: 100%;
      font-size: 2.1rem;
    }
    .balao-descricao-landingPage{
      width: 90%;
      align-items: center;
      padding: 5% 0% 9% 2%;
      border-radius:20px 20px 0% 20px;
    }
  
    .balao-descricao-landingPage p {
      font-size: 1rem;
    }
  
    .logo-descricao-landingPage img {
      width: 250px;
    }
    .botao-ver-mais-landingPage{
      width: 80%;
    }
}