body{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    background: #f4f6f7;
}

.menuBotaoMobile {
    display: none;
    position: fixed;
    top: 15px;
    left: 15px;
    background: #2e86c1;
    color: #f4f6f7;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    z-index: 1000;
    cursor: pointer;
}

.sidebar {
    width: 250px;
    background: #2e86c1;
    color: #f4f6f7;
    height: 100vh;
    position: fixed;
}

.sidebarHeader {
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #1b4f72;
}

.sidebarNav {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.sidebarNav a {
    color: #f4f6f7;
    text-decoration: none;
    padding: 12px;
    border-radius: 5px;
    margin: 5px 0;
    display: flex;
    align-items: center;
}

.sidebarNav a:hover, .sidebarNav a.active {
    background: #1b4f72;
}

.sidebarNav a.active {
    background: #2e86c1;
}

.sidebarNav i {
    margin-right: 10px;
    width: 20px;
}

.sidebarFooter {
    position: absolute;
    bottom: 0;
    width: 88%;
    padding: 15px;
    /*border-top: 3px solid #1b4f72;*/
}

.sidebarFooter a:hover {
    background: #1b4f72;
}


.sidebarFooter a {
    color: #f4f6f7;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 5px;
}

main {
    margin-left: 250px;
    padding: 20px;
}

.card {
    background: #f4f6f7;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

@media(max-width: 768px) {
    .menuBotaoMobile {
        display: block;
    }

    .sidebar {
        transform: translateX(-100%);
    }

    .sidebar.active {
        transform: translateX(0) ;
    }

    main {
        margin-left: 0;
    }
}