body{
    margin:0%;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}
footer{
    background-color: #1B4F72;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 50%;
    gap: 10%;
    margin-top: auto;
    width: 100%;
}
.texto{
    font-family: 'Nunito', sans-serif ;
    color: #F4F6F7;
    font-weight:600;
}

#redes{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
}

#tituloRedes .texto {
    white-space: nowrap;
}

#logos{
    gap: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#logos .logo img{
    width: 35px;
}

#desenvolvedor{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    align-items: center;
    text-align: center;  
    width: 25%;
}

#code img{
    height: auto;
    width: 140px;
}
#objetivos{
    display: flex;
    text-align: center;
    min-width: 250px;
    width: 50%;
}

#objetivos .texto {
    font-size: clamp(10px, 1.2vw, 14px);
    line-height: 2;
}

/*@media (max-width: 768px) {
    footer{
        height: 1vh;
        padding: 4vh 4vh;
        gap: 10%;
        margin-top: auto;
        width: 100%;
    }
    
    #tituloRedes .texto {
        white-space: nowrap;
    }
    
    #logos{
        gap: 10%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    #logos .logo img{
        width: 50%;
    }
    
    #code img{
        height: auto;
        width: 10vh;
    }
    #objetivos{
        display: flex;
        text-align: center;
        min-width: 125px;
        width: 100%;
    }
    
    #objetivos .texto {
        font-size: clamp(5px, 0.6vw, 7px);
    }
}*/

#voltar{
    display: flex;
    height: 20vh;
    align-items: center;
    gap: 1vh;
    border-bottom: 0.1vh solid #1B4F72;
    background: #F4F6F7;
    padding-left: 20vh;
}

#voltar img{
    display: flex;
    width: 12vh;
    padding: 6vh 5vh;
}

.text{
    color: #1A1A1A;
    text-align: center;
    font-family: Rubik;
    font-size: 6vh;
    font-weight: 700;
}

main{
    background-color: #F4F6F7;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    padding: 8vh;
}

section{
    border-radius: 2vh;
    border: 0.1vh solid #1B4F72;
    background: #1B4F72;
    display: flex;
    padding: 3vh;
    flex-direction: column;
}

#autor{
    border-radius: 2vh 2vh 0vh 0vh;
    background: #85C1E9;
    display: flex;
    height: 18vh;
    padding-left: 8vh;
    align-items: center;
    gap: 1vh;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 3.25vh;
}

#data{
    font-weight: 400;
}

#conteudo{
    border-radius: 0vh 0vh 2vh 2vh;
    border-top: 0.1vh solid #1B4F72;
    background: #85C1E9;
    display: flex;
    justify-content: center;
    align-items: center;
}

#imagem img{
    display: flex;
    width: 50vh;
    padding: 8vh;
}

#textual{
    color: #1A1A1A;
    display: flex;
    flex-direction: column;
}

#textual h1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    font-family: Rubik;
    font-size: 4.87vh;
    font-weight: 600;
}

#textual p{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: Nunito;
    font-size: 3.25vh;
    font-weight: 400;
    padding-right: 8vh;
}
