#bodyPaginaTabelaDePosts{
    background-color: #F4F6F7;
    margin: 0%;
    padding: 0%;
}

/*-----------------------------------------------------------------------*/
/*--------------------------------Cabecalho------------------------------*/

#cabecalhoPaginaTabelaDePosts{
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: row;
    border-top: 0.1vh solid #1B4F72;
    border-bottom: 0.1vh solid #1B4F72;
}

#tituloPaginaTabelaDePosts{
    width: 100vh;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 10%;
}
#tituloPaginaTabelaDePosts h1{
    display: flex;
    height: 9vh;
    flex-direction: column;
    color: #1B4F72;
    font-family: Rubik;
    font-size: 8vh;
    font-weight: 800;
    white-space: nowrap;
}
#criarNovoPost{
    width: 100vh;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 10%;
}
#criarNovoPost img{
    height: 8vh;    
    background-color: #1B4F72;
    border-radius: 2.6vh;
}
#criarNovoPost button, .acoesTabelaDePosts button, #paginacaoTabelaDePosts button{
    padding-block: 0px;
    padding-inline: 0px;
    border-width: 0px;
    background-color: #F4F6F7;
}
.acoesTabelaDePosts button{
    background-color: #2E86C1;
}

/*----------------------------------------------------------------------*/
/* -------------------------------Tabela--------------------------------*/

#conteudoTabelaDePosts{
    display: flex;
    padding: 7.8vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2.34vh;
}

#tabelaDePosts{
    width: 100%;
    border-spacing: 0;
    border-radius: 2.6vh;
    background-color: #2E86C1;
    border: 0.31vh solid #1B4F72;
    box-shadow: 0px 5px 10px 0px rgb(0, 0, 0);
}

#cabecalhoTabelaDePosts{
    font-family: nunito;
    color: #F4F6F7;
    font-weight:bold;
}
#cabecalhoTabelaDePosts tr{
    display: flex;
    height: 14vh;
    justify-content: center;
    align-items: center;
    background-color: #1B4F72;
    border-radius: 2.34vh 2.34vh 0vh 0vh;
    gap: 2.5vh;
}

#bodyTabelaDePosts tr{
    display: flex;
    height: 12.5vh;
    justify-content: center;
    align-items: center;
    gap: 2.5vh;
}

.trTabelaDePosts{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 0.31vh solid #1B4F72;
}

.cincoTP{
    border-bottom: 0vh;
}

/*-------------------------------------------------------------------------*/
/*---------------------------ElementosDaTabela-----------------------------*/

.trTabelaDePosts td, .trTabelaDePosts th{
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    font-family: nunito;
    font-size: 3.5vh;
}
.trTabelaDePosts td{
    font-weight: 700;
    color: #1A1A1A;
    font-size: 3vh;
}
.idTabelaDePosts{
    width: 15%;
}

.tituloTabelaDePosts{
    width: 25%;
}

.autorTabelaDePosts{
    width: 25%;
}

.dataTabelaDePosts{
    width: 15%;
}

.acoesTabelaDePosts{
    width: 25%;
}

.acoesTabelaDePosts img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*--------------------------------------------------------------------------*/
/*----------------------------------Paginação-------------------------------*/

#paginacaoTabelaDePosts{
    height: 14.5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    gap: 1vh;
}

/*--------------------------------------------------------------------------*/
/*----------------------------------Celulares-------------------------------*/

@media (max-width: 769px){
    /*-----------------------------------------------------------------------*/
    /*--------------------------------Cabecalho------------------------------*/
    #cabecalhoPaginaTabelaDePosts{
        height: 15vh;
    }
    
    #tituloPaginaTabelaDePosts h1{
        height: 4.5vh;
        font-size: 3vh;
    }
    #criarNovoPost img{
        height: 4vh;
    }
    /*----------------------------------------------------------------------*/
    /* -------------------------------Tabela--------------------------------*/
    
    #conteudoTabelaDePosts{
        padding: 3vh;
    }
    
    #cabecalhoTabelaDePosts tr{
        height: 8.5vh;
    }
    
    #bodyTabelaDePosts tr{
        height: 8vh;
    }
    
    /*-------------------------------------------------------------------------*/
    /*---------------------------ElementosDaTabela-----------------------------*/
    
    .trTabelaDePosts td, .trTabelaDePosts th{
        font-size: 1.65vh;
    }
    .trTabelaDePosts td{
        font-weight: 600;
    }
    .acoesTabelaDePosts img{
        width: 70%;
    }
    
    /*--------------------------------------------------------------------------*/
    /*----------------------------------Paginação-------------------------------*/
    
    #paginacaoTabelaDePosts{
        height: 7.25vh;
    }

    #paginacaoTabelaDePosts img{
        width: 4vh;
    }
}

@media (max-width: 400px){
    .trTabelaDePosts td, .trTabelaDePosts th{
        font-size: 1.5vh;
    }
    .trTabelaDePosts td{
        font-weight: 500;
    }
    .acoesTabelaDePosts img{
        width: 100%;
    }
}

/*botões não testados. podendo haver interferencia com o css pelo padrão do css de "button".*/
