<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuários | QuidStroll</title>
    <link rel="stylesheet" href="/public/css/listaDeUsuarios.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
</head>
<body>
    <section class="sidebar-listaDeUsuarios">

        <!-- NECESSARIOS MELHORIAS EM RESPONSIVIDADE E BOTOES DE PAGINAÇÃO!!-->
    </section>
    <section class="listaDeUsuarios">
        <div class="titulo-listaDeUsuarios">
            <h1>Lista de Usuários</h1>
        </div>
        <div class="botaoAdicionar-listaDeUsuarios">
            <button><img src="/public/assets/novoUsuario.png" alt="" id="novoUsuario-listaDeUsuarios"></button>
        </div>

        <div class="campoTabela-listaDeUsuarios">
            <table class="tabela-listaDeUsuarios">
                <thead class="cabecalhoTabela-listaDeUsuarios">
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody class="corpoTabela-listaDeUsuarios">
                    <tr>
                        <td>1344</td>
                        <td>Jonas Silva</td>
                        <td>jonassilva@gmail.com</td>
                        <td class="acoes-listaDeUsuarios">
                            <button><img src="/public/assets/visualizar.png" alt="" id="visualizar-listaDeUsuarios"></button>
                            <button><img src="/public/assets/editarUsuario-3.png" alt="" id="editar-listaDeUsuarios"></button>
                            <button><img src="/public/assets/delete.png" alt="" id="deletar-listaDeUsuarios"></button>
                        </td>
                    </tr>
                    <tr>
                        <td>1694</td>
                        <td>Josten Silva</td>
                        <td>jostensilva@gmail.com</td>
                        <td class="acoes-listaDeUsuarios">
                            <button><img src="/public/assets/visualizar.png" alt="" id="visualizar-listaDeUsuarios"></button>
                            <button><img src="/public/assets/editarUsuario-3.png" alt="" id="editar-listaDeUsuarios"></button>
                            <button><img src="/public/assets/delete.png" alt="" id="deletar-listaDeUsuarios"></button>
                        </td>
                    </tr>
                    <tr>
                        <td>1984</td>
                        <td>Joana Silva</td>
                        <td>joanasilva@gmail.com</td>
                        <td class="acoes-listaDeUsuarios">
                            <button><img src="/public/assets/visualizar.png" alt="" id="visualizar-listaDeUsuarios"></button>
                            <button><img src="/public/assets/editarUsuario-3.png" alt="" id="editar-listaDeUsuarios"></button>
                            <button><img src="/public/assets/delete.png" alt="" id="deletar-listaDeUsuarios"></button>
                        </td>
                    </tr>
                    <tr>
                        <td>4644</td>
                        <td>João Silva</td>
                        <td>joaosilva@gmail.com</td>
                        <td class="acoes-listaDeUsuarios">
                            <button><img src="/public/assets/visualizar.png" alt="" id="visualizar-listaDeUsuarios"></button>
                            <button><img src="/public/assets/editarUsuario-3.png" alt="" id="editar-listaDeUsuarios"></button>
                            <button><img src="/public/assets/delete.png" alt="" id="deletar-listaDeUsuarios"></button>
                        </td>
                    </tr>
                    <tr>
                        <td>6232</td>
                        <td>Juca Silva</td>
                        <td>jucasilva@gmail.com</td>
                        <td class="acoes-listaDeUsuarios">
                            <button><img src="/public/assets/visualizar.png" alt="" id="visualizar-listaDeUsuarios"></button>
                            <button><img src="/public/assets/editarUsuario-3.png" alt="" id="editar-listaDeUsuarios"></button>
                            <button><img src="/public/assets/delete.png" alt="" id="deletar-listaDeUsuarios"></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <nav class="paginacao-listaDeUsuarios">
            <button>&lt</button>
            <button id="paginaEmUso-listaDeUsuarios">1</button>
            <button>2</button>
            <button>3</button>
            <button>&gt</button>
        </nav>
    </section>
    
</body>
</html>