<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body id="bodyTabelaDePosts">

    <!-- Cabeçalho -->
    <div id="cabeçalhoTabelaDePosts">
        <div id="tituloTabelaDePosts">
            <h1>Tabela de Posts</h1>
        </div>
        <div>
            <img src="/public/assets/Plus.png" alt="Criar novo post">
        </div>
    </div>

    <!-- Tabela -->
    <main id="conteudoTabelaDePosts">
        <div id="tabelaDePosts">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>TÍTULO</th>
                        <th>AUTOR</th>
                        <th>DATA</th>
                        <th>AÇÕES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Ah nao vei ah nao</td>
                        <td>Yan</td>
                        <td>28/04/2025</td>
                        <td>
                            <img src="/public/assets/Eye.png" alt="Visualizar">
                            <img src="/public/assets/Pen.png" alt="Editar">
                            <img src="/public/assets/Trash.png" alt="Excluir">
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Ah nao vei ah nao</td>
                        <td>Yan</td>
                        <td>28/04/2025</td>
                        <td>
                            <img src="/public/assets/Eye.png" alt="Visualizar">
                            <img src="/public/assets/Pen.png" alt="Editar">
                            <img src="/public/assets/Trash.png" alt="Excluir">
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Ah nao vei ah nao</td>
                        <td>Yan</td>
                        <td>28/04/2025</td>
                        <td>
                            <img src="/public/assets/Eye.png" alt="Visualizar">
                            <img src="/public/assets/Pen.png" alt="Editar">
                            <img src="/public/assets/Trash.png" alt="Excluir">
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Ah nao vei ah nao</td>
                        <td>Yan</td>
                        <td>28/04/2025</td>
                        <td>
                            <img src="/public/assets/Eye.png" alt="Visualizar">
                            <img src="/public/assets/Pen.png" alt="Editar">
                            <img src="/public/assets/Trash.png" alt="Excluir">
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Ah nao vei ah nao</td>
                        <td>Yan</td>
                        <td>28/04/2025</td>
                        <td>
                            <img src="/public/assets/Eye.png" alt="Visualizar">
                            <img src="/public/assets/Pen.png" alt="Editar">
                            <img src="/public/assets/Trash.png" alt="Excluir">
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Ah nao vei ah nao</td>
                        <td>Yan</td>
                        <td>28/04/2025</td>
                        <td>
                            <img src="/public/assets/Eye.png" alt="Visualizar">
                            <img src="/public/assets/Pen.png" alt="Editar">
                            <img src="/public/assets/Trash.png" alt="Excluir">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>

    <!-- Paginação -->
     <div>
        <img src="/public/assets/arrowLeftShort.png" alt="">
        <img src="/public/assets/1.png" alt="">
        <img src="/public/assets/2.png" alt="">
        <img src="/public/assets/3.png" alt="">
        <img src="/public/assets/arrowLeftShort.png" alt="">
     </div>
</body>
</html>