<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/tabelaDePosts.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
</head>
<body id="bodyPaginaTabelaDePosts">
    <!------------------------- Cabeçalho ----------------------->
    <!----------------------------------------------------------->

    <div id="cabecalhoPaginaTabelaDePosts">
        <div id="tituloPaginaTabelaDePosts">
            <h1>Tabela de Posts</h1>
        </div>
        <div id="criarNovoPost">
            <button id="botaoCriarNovoPost"><img src="/public/assets/Plus.png" alt="Criar novo post"></button>
        </div>
    </div>

    <!---------------------------- Tabela ----------------------->
    <!----------------------------------------------------------->

    <main id="conteudoTabelaDePosts">
        <table id="tabelaDePosts">
            <thead id="cabecalhoTabelaDePosts">
                <tr class="trTabelaDePosts">
                    <th class="idTabelaDePosts">ID</th>
                    <th class="tituloTabelaDePosts">TÍTULO</th>
                    <th class="autorTabelaDePosts">AUTOR</th>
                    <th class="dataTabelaDePosts">DATA</th>
                    <th class="acoesTabelaDePosts">AÇÕES</th>
                </tr>
            </thead>
            <tbody id="bodyTabelaDePosts">
                <tr class="trTabelaDePosts">
                    <td class="idTabelaDePosts">1</td>
                    <td class="tituloTabelaDePosts">Ah nao vei ah nao</td>
                    <td class="autorTabelaDePosts">Yan</td>
                    <td class="dataTabelaDePosts">28/04/2025</td>
                    <td class="acoesTabelaDePosts">
                        <button><img class="visualizarTabelaDePosts" src="/public/assets/Eye.png" alt="Visualizar"></button>
                        <button onclick="abrirModal('janelaModalEditar','fundoModalEditar')"><img class="editarTabelaDePosts" src="/public/assets/Pen.png" alt="Editar"></button>
                        <button><img class="excluirTabelaDePosts" src="/public/assets/Trash.png" alt="Excluir"></button>
                    </td>
                </tr>
                <tr class="trTabelaDePosts">
                    <td class="idTabelaDePosts">1</td>
                    <td class="tituloTabelaDePosts">Ah nao vei ah nao</td>
                    <td class="autorTabelaDePosts">Yan</td>
                    <td class="dataTabelaDePosts">28/04/2025</td>
                    <td class="acoesTabelaDePosts">
                        <button><img class="visualizarTabelaDePosts" src="/public/assets/Eye.png" alt="Visualizar"></button>
                        <button onclick="abrirModal('janelaModalEditar','fundoModalEditar')"><img class="editarTabelaDePosts" src="/public/assets/Pen.png" alt="Editar"></button>
                        <button><img class="excluirTabelaDePosts" src="/public/assets/Trash.png" alt="Excluir"></button>
                    </td>
                </tr>
                <tr class="trTabelaDePosts">
                    <td class="idTabelaDePosts">1</td>
                    <td class="tituloTabelaDePosts">Ah nao vei ah nao</td>
                    <td class="autorTabelaDePosts">Yan</td>
                    <td class="dataTabelaDePosts">28/04/2025</td>
                    <td class="acoesTabelaDePosts">
                        <button><img class="visualizarTabelaDePosts" src="/public/assets/Eye.png" alt="Visualizar"></button>
                        <button onclick="abrirModal('janelaModalEditar','fundoModalEditar')"><img class="editarTabelaDePosts" src="/public/assets/Pen.png" alt="Editar"></button>
                        <button><img class="excluirTabelaDePosts" src="/public/assets/Trash.png" alt="Excluir"></button>
                    </td>
                </tr>
                <tr class="trTabelaDePosts">
                    <td class="idTabelaDePosts">1</td>
                    <td class="tituloTabelaDePosts">Ah nao vei ah nao</td>
                    <td class="autorTabelaDePosts">Yan</td>
                    <td class="dataTabelaDePosts">28/04/2025</td>
                    <td class="acoesTabelaDePosts">
                        <button><img class="visualizarTabelaDePosts" src="/public/assets/Eye.png" alt="Visualizar"></button>
                        <button onclick="abrirModal('janelaModalEditar','fundoModalEditar')"><img class="editarTabelaDePosts" src="/public/assets/Pen.png" alt="Editar"></button>
                        <button><img class="excluirTabelaDePosts" src="/public/assets/Trash.png" alt="Excluir"></button>
                    </td>
                </tr>
                <tr class="trTabelaDePosts cincoTP">
                    <td class="idTabelaDePosts">1</td>
                    <td class="tituloTabelaDePosts">Ah nao vei ah nao</td>
                    <td class="autorTabelaDePosts">Yan</td>
                    <td class="dataTabelaDePosts">28/04/2025</td>
                    <td class="acoesTabelaDePosts">
                        <button><img class="visualizarTabelaDePosts" src="/public/assets/Eye.png" alt="Visualizar"></button>
                        <button onclick="abrirModal('janelaModalEditar','fundoModalEditar')"><img class="editarTabelaDePosts" src="/public/assets/Pen.png" alt="Editar"></button>
                        <button><img class="excluirTabelaDePosts" src="/public/assets/Trash.png" alt="Excluir"></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </main>

    <!------------------------- Paginação ----------------------->
    <!----------------------------------------------------------->

    <div id="paginacaoTabelaDePosts">
        <button><img src="/public/assets/arrowLeftShort.png" alt=""></button>
        <button><img src="/public/assets/1.png" alt=""></button>
        <button><img src="/public/assets/2.png" alt=""></button>
        <button><img src="/public/assets/3.png" alt=""></button>
        <button><img src="/public/assets/arrowRightShort.png" alt=""></button>
    </div>

    <!----------------------Modal------------------------------->
    <!---------------------------------------------------------->
    
    <div class="fundoModalEditar-tabelaDePosts" id="fundoModalEditar"></div>
    <div class="modalEditar-tabelaDePosts" id="janelaModalEditar">
        <header class="cabecalhoModalEditar-tabelaDePosts">
            <h1>Editar Post</h1>
            <button onclick="fecharModal('janelaModalEditar', 'fundoModalEditar')"><img src="/public/assets/simboloFecharPost.png" alt="Fechar Guia"></button>
        </header>
        <form class="formModalEditar-tabelaDePosts" action="">
            <img src="/public/assets/imagemPost.jfif" alt="">
            <div class="corpoModalEditar-tabelaDePosts">
                <div class="tituloModalEditar-tabelaDePosts">
                    <h1>Lorem Ipsum Lorem Ipsum</h1>
                </div>
                <div class="textoModalEditar-tabelaDePosts">
                    <h2>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem IpsumLorem Ipsum Lorem Ipsum
                    </h2>
                </div>
                <div class="autorModalEditar-tabelaDePosts">
                    <p>Lorem Ipsum</p>
                </div>
                <div class="dataModalEditar-tabelaDePosts">
                    <p>12/12/12</p>
                </div>
            </div>


        </form>
    </div>
</body>
<script src="/public/js/indexTabelaDePosts.js"></script>
</html>