<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dashboard</title>
    <link rel="stylesheet" href="/public/css/dashboard.css">
</head>
<body>
    <div class="grid">
        <div id="text_dashboard">
            <p>DASHBOARD</p>
        </div>
        <div id="card">
            <p>POSTS</p>
        </div>
        <div id="card">
            <p>USUÁRIOS</p>
        </div>
        <div id="card">
            <p>LOGOUT</p>
        </div>
    </div>
</body>
</html>