<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/QuidStrol_Trainee-2025.1/public/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
</head>
<body>
    <footer> 
        <div id="redes">
            <div id="tituloRedes">                
                <p class="texto"> REDES SOCIAIS</p>
            </div>
            <div id="logos">
                <a class="logo face" href="https://www.google.com/">
                    <img src="/QuidStrol_Trainee-2025.1/public/assets/Facebook.png" alt="">
                </a>
                <a class="logo tt" href="https://www.google.com/">
                    <img src="/QuidStrol_Trainee-2025.1/public/assets/Twitter.png" alt="">
                </a>
                <a class="logo insta" href="https://www.google.com/">
                    <img src="/QuidStrol_Trainee-2025.1/public/assets/Instagram.png" alt="">
                </a>
            </div>
        </div>

        <div id="objetivos">
            <div>
                <p class="texto">QUID STROLL – UM ESPAÇO PARA COMPARTILHAR PENSAMENTOS, REFLEXÕES E 
                    DESABAFOS SOBRE O COTIDIANO E O MUNDO. AQUI, TODA EXPERIÊNCIA TEM VOZ, 
                    DAS PEQUENAS SITUAÇÕES DO DIA A DIA AOS GRANDES ACONTECIMENTOS GLOBAIS.
                </p>
            </div>
        </div>

        <div id="desenvolvedor">
            <div id="tituloDesenvolvedor">
                <p class="texto">DESENVOLVEDOR</p>
            </div>
            <div id= "code">
                <img src="/QuidStrol_Trainee-2025.1/public/assets/code-logo.png" alt="">
            </div>
        </div>        
    </footer>
</body>
</html>