<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="\QuidStroll_Trainee-2025.1\public\css\footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
</head>
<body id="bodyFooter">
    <footer> 
        <div id="redesFooter">
            <div id="tituloRedesFooter">                
                <p class="textoFooter"> REDES SOCIAIS</p>
            </div>
            <div id="logosFooter">
                <a class="logoFooter facebookFooter" href="https://www.google.com/">
                    <img src="\QuidStroll_Trainee-2025.1\public\assets\Facebook.png" alt="">
                </a>
                <a class="logoFooter twitterFooter" href="https://www.google.com/">
                    <img src="\QuidStroll_Trainee-2025.1\public\assets\Twitter.png" alt="">
                </a>
                <a class="logoFooter instagramFooter" href="https://www.google.com/">
                    <img src="\QuidStroll_Trainee-2025.1\public\assets\Instagram.png" alt="">
                </a>
            </div>
        </div>

        <div id="objetivosFooter">
            <div>
                <p class="textoFooter">QUID STROLL – UM ESPAÇO PARA COMPARTILHAR PENSAMENTOS, 
                    REFLEXÕES E DESABAFOS SOBRE O COTIDIANO E O MUNDO. AQUI, TODA EXPERIÊNCIA TEM VOZ, 
                    DAS PEQUENAS SITUAÇÕES DO DIA A DIA AOS GRANDES ACONTECIMENTOS GLOBAIS.
                </p>
            </div>
        </div>

        <div id="desenvolvedorFooter">
            <div id="tituloDesenvolvedorFooter">
                <p class="textoFooter">DESENVOLVEDOR</p>
            </div>
            <div id= "codeFooter">
                <img src="\QuidStroll_Trainee-2025.1\public\assets\code-logo.png" alt="">
            </div>
        </div>        
    </footer>
</body>
</html>