<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial | QuidStroll</title>
    <link rel="stylesheet" href="QuidStrol_Trainee-2025.1\public\css\styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
</head>
<body>
    <section class="hero-section">
        <div class="texto-hs">
            <h1>A regra é opinar!</h1>
            <div class="logo-descricao">
                <img src="QuidStrol_Trainee-2025.1\public\assets\quidStroll-logo.png" alt="">
                <div class="balao-descricao">
                    <p>Um lugar feito para liberar seus pontos de vista, filosofia ou qualquer conclusão da sua mente. Vem fazer um quid!</p>
                </div>
            </div>
        </div>
            <div class="imagem-mascote">
            <img src="QuidStrol_Trainee-2025.1\public\assets\personagem-computador.webp" alt="Usuario" id="img-user">
            <img src="QuidStrol_Trainee-2025.1\public\assets\guitarra.png" alt="Guitarra" id="img-guitarra">
            <img src="QuidStrol_Trainee-2025.1\public\assets\notas.webp"  alt="Notas"  id="img-notas">
            <img src="QuidStrol_Trainee-2025.1\public\assets\coracao.webp" alt="Coracao" id="img-coracao">
            <img src="QuidStrol_Trainee-2025.1\public\assets\bola.webp" alt="Bola" id="img-bola">
            <img src="QuidStrol_Trainee-2025.1\public\assets\batata-frita.webp" alt="Batata Frita" id="img-batata">
            <img src="QuidStrol_Trainee-2025.1\public\assets\semaforo.webp" alt="Semaforo" id="img-semaforo">
            </div>
    </section>

    <section class="posts-recentes">
        <h1>Quidies recentes</h1>
        
        <div class="carrossel-posts">
            <div class="post"> 
                <img src="QuidStrol_Trainee-2025.1\public\assets\GTN1H5JWEAAq7Kx.jfif" alt="">
                <h1>Cortar o cabelo é muito estranho</h1>
                <p>Jose Silva</p>
            </div>
            <div class="post"> 
                <img src="QuidStrol_Trainee-2025.1\public\assets\118-1187209_black-hat-png-stock-by-doloresminette-pluspng-fedora.png" alt="">
                <h1>Chapéus fedora precisam acabar</h1>
                <p>Juca Silva</p>
            </div>
            <div class="post"> 
                <img src="QuidStrol_Trainee-2025.1\public\assets\fazenda-porteira.webp" alt="">
                <h1>Cripto fazendas são o futuro</h1>
                <p>João Silva</p>
            </div>
            <div class="post"> 
                <img src="QuidStrol_Trainee-2025.1\public\assets\casa.jpg" alt="">
                <h1>Cripto casas que são o futuro</h1>
                <p>Jonas Silva</p>
            </div>
            <div class="post"> 
                <img src="QuidStrol_Trainee-2025.1\public\assets\futuro.jpg" alt="">
                <h1>Não haverá futuro</h1>
                <p>Jô Silva</p>
            </div>


        </div>
    </section>
    
</body>
</html>