<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quid Stroll</title>
    <link rel="stylesheet" href="/QuidStroll_Trainee-2025.1/public/css/listaDePosts.css">
</head>
<body>
    <div class="barraDePesquisa">
        <input type="text" placeholder="Barra de pesquisa...">
    </div>

    <div class="grid">
        <div class="card">
            <div class="imagem"></div>
            <div class="conteudo">
                <h3>Titulo</h3>
                <p>Descrição: Lorem Ipsum Dolor</p>
            </div>
            <div class="autor">Autor: ...</div>
        </div>
        <div class="card">
            <div class="imagem"></div>
            <div class="conteudo">
                <h3>Titulo</h3>
                <p>Descrição: Lorem Ipsum Dolor</p>
            </div>
            <div class="autor">Autor: ...</div>
        </div>
        <div class="card">
            <div class="imagem"></div>
            <div class="conteudo">
                <h3>Titulo</h3>
                <p>Descrição: Lorem Ipsum Dolor</p>
            </div>
            <div class="autor">Autor: ...</div>
        </div>
        <div class="card">
            <div class="imagem"></div>
            <div class="conteudo">
                <h3>Titulo</h3>
                <p>Descrição: Lorem Ipsum Dolor</p>
            </div>
            <div class="autor">Autor: ...</div>
        </div>
        <div class="card">
            <div class="imagem"></div>
            <div class="conteudo">
                <h3>Titulo</h3>
                <p>Descrição: Lorem Ipsum Dolor</p>
            </div>
            <div class="autor">Autor: ...</div>
        </div>
        <div class="card">
            <div class="imagem"></div>
            <div class="conteudo">
                <h3>Titulo</h3>
                <p>Descrição: Lorem Ipsum Dolor</p>
            </div>
            <div class="autor">Autor: ...</div>
        </div>
    </div>
    <div class="pagination">
         <p> ᐸ 1 2 3 4 5 ᐳ </p> 
    </div>
</body>
</html>