<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quid Stroll</title>
    <link rel="stylesheet" href="/public/css/listaDePosts.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>
<body>
    <div class="segBarraDePesquisa">
        <div class="barraDePesquisa">
            <input type="text" placeholder="Barra de pesquisa...">
            <i class="fas fa-search"></i>
        </div>
    </div>

    <div class="grid">
        <div class="card1">
            <div class="imagem"></div>
            <div class="conteudo">
                <h3>Lorem Ipsum Dolor</h3>
                <p>Descrição: Lorem Ipsum Dolor</p>
            </div>
            <div class="autor">Autor: ...</div>
        </div>
        <div class="card">
            <div class="imagem"></div>
            <div class="conteudo">
                <h3>Lorem Ipsum Dolor</h3>
                <p>Descrição: Lorem Ipsum Dolor</p>
            </div>
            <div class="autor">Autor: ...</div>
        </div>
        <div class="card">
            <div class="imagem"></div>
            <div class="conteudo">
                <h3>Lorem Ipsum Dolor</h3>
                <p>Descrição: Lorem Ipsum Dolor</p>
            </div>
            <div class="autor">Autor: ...</div>
        </div>
        <div class="card">
            <div class="imagem"></div>
            <div class="conteudo">
                <h3>Lorem Ipsum Dolor</h3>
                <p>Descrição: Lorem Ipsum Dolor</p>
            </div>
            <div class="autor">Autor: ...</div>
        </div>
        <div class="card">
            <div class="imagem"></div>
            <div class="conteudo">
                <h3>Lorem Ipsum Dolor</h3>
                <p>Descrição: Lorem Ipsum Dolor</p>
            </div>
            <div class="autor">Autor: ...</div>
        </div>
        <div class="card">
            <div class="imagem"></div>
            <div class="conteudo">
                <h3>Lorem Ipsum Dolor</h3>
                <p>Descrição: Lorem Ipsum Dolor</p>
            </div>
            <div class="autor">Autor: ...</div>
        </div>
    </div>
    <div class="pagination">
        <button id="b"><img src="/public/assets/arrowLeftShort.png" alt=""></button>
        <button id="b"><img src="/public/assets/1.png" alt=""></button>
        <button id="b"><img src="/public/assets/2.png" alt=""></button>
        <button id="b"><img src="/public/assets/3.png" alt=""></button>
        <button id="b"><img src="/public/assets/arrowRightShort.png" alt=""></button>
        
    </div>
</body>
</html>