<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/QuidStrol_Trainee-2025.1/public/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
</head>
<body>
    <div id="voltar">
        <a href="https://www.google.com"><img src="/QuidStrol_Trainee-2025.1/public/assets/Seta.png" alt=""></a>
        <h1 class="text">Post</h1>
    </div>
    <main>
        <section>
            <div id="autor">
                <img src="/QuidStrol_Trainee-2025.1/public/assets/foto-perfil.png" alt="">
                <p id="nome">Hayao Miyazaki</p>
                <p> • </p>
                <p id="data">04/04/2025</p>
            </div>
            <div id="conteudo"> 
                <div id="imagem">
                    <img src="/QuidStrol_Trainee-2025.1/public/assets/imagem-exemplo.png" alt="">
                </div>
                <div id="textual">
                    <h1>“Arte” por IA</h1>
                    <p>A nova moda: "Arte no estilo Ghibli feita por IA" KKKKKKKKKKKK <br> 
                        Agr qualquer um pd clicar num botão e fingir que entendeu uma obra. Com décadas de estudo, narrativa visual, animação quadro a quadro e filosofia existencial, se a IA pode gerar um frame bonitinho em 8 segundos, né <br>
                        Daí acontece oq: <br>
                        A diferença é q o Ghibli faz você chorar por causa de uma folha caindo, mas a IA só faz você dar like e seguir, talvez seja isso q a gnt qr hj... estética sem alma <br>
                    </p>
                </div>
            </div>
        </section>   
    </main><!--
    <footer> 
        <div id="redes">
            <div id="tituloRedes">                
                <p class="texto"> REDES SOCIAIS</p>
            </div>
            <div id="logos">
                <a class="logo face" href="https://www.google.com/">
                    <img src="/QuidStrol_Trainee-2025.1/public/assets/Facebook.png" alt="">
                </a>
                <a class="logo tt" href="https://www.google.com/">
                    <img src="/QuidStrol_Trainee-2025.1/public/assets/Twitter.png" alt="">
                </a>
                <a class="logo insta" href="https://www.google.com/">
                    <img src="/QuidStrol_Trainee-2025.1/public/assets/Instagram.png" alt="">
                </a>
            </div>
        </div>

        <div id="objetivos">
            <div>
                <p class="texto">QUID STROLL – UM ESPAÇO PARA COMPARTILHAR PENSAMENTOS, REFLEXÕES E 
                    DESABAFOS SOBRE O COTIDIANO E O MUNDO. AQUI, TODA EXPERIÊNCIA TEM VOZ, 
                    DAS PEQUENAS SITUAÇÕES DO DIA A DIA AOS GRANDES ACONTECIMENTOS GLOBAIS.
                </p>
            </div>
        </div>

        <div id="desenvolvedor">
            <div id="tituloDesenvolvedor">
                <p class="texto">DESENVOLVEDOR</p>
            </div>
            <div id= "code">
                <img src="/QuidStrol_Trainee-2025.1/public/assets/code-logo.png" alt="">
            </div>
        </div>        
    </footer>-->
</body>
</html>