<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/QuidStrol_Trainee-2025.1/public/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
</head>
<body>
    <article id="voltar">
        <a href="https://www.google.com"><img src="/QuidStrol_Trainee-2025.1/public/assets/Seta.png" alt=""></a>
        <h1 class="text">Post</h1>
    </article>
    <main>
        <section>
            <section>
                <div id="autor">

                </div>
                <div id="conteudo"> 

                </div>
            </section>   
        </section>
    </main>
</body>
</html>