<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="\QuidStroll_Trainee-2025.1\public\css\postIndividual.css">
    <script src="\QuidStroll_Trainee-2025.1\public\js\postIndividual.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
</head>
<body id="bodyPostIndividual">
    
    <div id="postIndividualVoltar">
        <a href="https://www.google.com"><img id="postIndividualSeta" src="\QuidStroll_Trainee-2025.1\public\assets\seta.png" alt=""></a>
        <h1 id ="postIndividualTituloPagina">Post</h1>
    </div>

    <main id="postIndividualBackground">
        <section id="postIndividualConteudo">
            <div id="postIndividualAutor">
                <img src="\QuidStroll_Trainee-2025.1\public\assets\foto-perfil.png" alt="">
                <p id="postIndividualNome">Hayao Miyazaki</p>
                <p id="postIndividualBolinha"> • </p>
                <p id="postIndividualData">04/04/2025</p>
            </div>
            <div id="postIndividualQuids"> 
                <div id="postIndividualImagem">
                    <img src="\QuidStroll_Trainee-2025.1\public\assets\imagem-exemplo.png" alt="">
                </div>
                <div id="postIndividualTextual">
                    <h1 id="postIndividualTituloPost">“Arte” por IA</h1>
                    <p id="postIndividualTextoPost">A nova moda: "Arte no estilo Ghibli feita por IA" KKKKKKKKKKKK <br> 
                        Agr qualquer um pd clicar num botão e fingir que entendeu uma obra. Com décadas de estudo, narrativa visual, animação quadro a quadro e filosofia existencial, se a IA pode gerar um frame bonitinho em 8 segundos, né <br>
                        Daí acontece oq: <br>
                        A diferença é q o Ghibli faz você chorar por causa de uma folha caindo, mas a IA só faz você dar like e seguir, talvez seja isso q a gnt qr hj... estética sem alma <br>
                    </p>
                </div>
            </div>
        </section>   
    </main>
</body>
</html>